*{
    margin: 0;
    padding: 0;
}
ul , li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/*================================
 Nvber style 
==============================*/
#navber{
    background: url(../images/bannar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;

}

.banner{
    padding-bottom: 490px;
}
.btn-custom{
    background-color:#ef5b5b;
    color: #ffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-nav .nav-item .nav-link {
    color:#ffff;
    text-transform: uppercase;
    font-weight: 700;
    
}
.btn-custom:hover{
    background:#72d200;
    color: #ffff;
}

/*================================
 Banner style 
==============================*/
.banner-content{
    margin-top: 220px;

}

.banner-content p{
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    color: #ffff;
    letter-spacing: 4px;

}
.banner-content h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 41px;
    color: #ffff;
    margin-top: 20px;
    margin-bottom: 20px;

}
.banner-content h6{
    margin-bottom: 30px;
    font-size: 28px;
    color: #ffff;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}


/*================================
 Feature style 
==============================*/
.common-heading{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #ef5b5b;
    letter-spacing: 4px;
    margin-left: 10px;

}

.featur-content h6{
    font-size: 28px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-left: 4px solid #ef5b5b;
    padding: 4px;

}
.featur-content{
    margin-top: 80px;
}
.featur-content p{
    font-size: 16px;
    color: #808080;
    margin-left: 10px;
    margin-top: 20px;
}
.btn-feature{
    margin-left: 10px;
    margin-top: 20px;
}

.feature-images-main{
    position: relative;
    margin-top: -100px;
    transition: all linear .3s;
}
.feature-images-main:hover{
    box-shadow: -2px 0px 10px -2px rgba(0,0,0,0.79);
-webkit-box-shadow: -2px 0px 10px -2px rgba(0,0,0,0.79);
-moz-box-shadow: -2px 0px 10px -2px rgba(0,0,0,0.79);
transition: all linear .3s;
}

.feature-top {
    text-align: center;
    border: 1px solid #d6d6d6;
}
.feature-top h6{
    font-size: 20px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rating ul li h5{
    float: left;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}
.rating ul li i{
    color:#ef5b5b;

}
.feature-bottom{
   padding: 20px;
   border: 1px solid #d6d6d6;
}